/* @import 'reset.css'; */
@import 'primevue/resources/themes/aura-light-blue/theme.css';
@import 'primevue/resources/primevue.css';
@import 'primeflex/primeflex.css';
@import 'primeicons/primeicons.css';

body {
    margin: 0px;
}

.mb-140px {
    margin-bottom: 140px;
}

.mb-220px {
    margin-bottom: 220px;
}